body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    overflow: hidden;
}

nav{
 
    top: 0;
    left: 0;
    padding: 20px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #111;
    font-family: 'Lucida Sans';
    font-size: 14px;
    font-weight: 600;
}
nav ul li a:hover{
    color: orangered;
}

.form{
    width:300px;
    height:325px;
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    margin-top: 70px;
    border: 1px solid #ff7200;
    padding: 25px;
}

.form input{
    width: 280px;
    height: 25px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: cursive;
}

.form input:focus{
    outline: none;
}
.btnn{
    width: 280px;
    height: 40px;
    background: #ff7200;
    border: 1px solid rgb(255, 194, 25);
    margin-top: 30px;
    font-size:18px;
    font-family: cursive;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.btnn:hover{
    box-shadow: 0px 0px 25px rgba(255, 113, 25, 0.857);
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .sp{
    text-align: center;
    font-family: Arial ;
    font-size: 25px;

}

.form .link{
    color: lightgray;
    font-family: cursive;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;         
}

.form .link a{
    font-family: cursive;
    text-decoration: none;
    color: #ff7200;
}
.form .link a:hover{
    color: orange;
}

